/*公共样式*/
body {
    background-color: #e2e2e2;
}
.wrapper {
    width: 1100px;
    margin: 0px auto 0px auto;
}
 /*头部样式*/
.header {
    text-align: center;
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    padding: 0px 20px;
}
.header-logo {
	float: left;
	font-size: 30px;
    font-weight: bold;
    padding-left: 100px;
    height: 44px;
    width: 250px;
    line-height: 44px;
}
.header-nav {
	float: right;
	padding-right: 100px;
	font-size: 16px;
    font-weight: 400;
    height: 44px;
    min-width: 400px;
    line-height: 44px;
}
.header-nav >span {
	margin: 0 10px;
}


/*内容样式*/
.content {
    text-align: center;
    background-color: #e2e2e2;
    background-image: url(../images/shadow_light.png);
    background-repeat: repeat-x;
}
.content-main {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 20px;
	float: left;
	width: 770px;
	min-height: 400px;
	background-color: #fff;
}
.content-right {
	margin-top: 20px;
	float: right;
	width: 270px;
	/*height: 254px;*/
	background-color: #fff;
}


.inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}
a.tab {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
}
a.tab:hover {
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}
a.tab_current {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #445;
    color: #fff;
    text-decoration: none;
}

.cell {
    padding: 10px 10px 10px 20px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f9f9f9;
}
.cell a {
    margin: 0 15px;
    font-size: 12px;
    color: #778087;
    text-decoration: none;
}
.cell a:hover {
    color: #4d5256;
    text-decoration: underline;
}
.item {
    background-position: 0 bottom;
    background-repeat: repeat-x;
}

/*标签*/
a.node:link, a.node:visited, a.node:active {
    background-color: #eee;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #777;
}

a.node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}
a.strong {
    font-weight: 400;
}


/*文章详情页样式*/
.user-photo {
    margin-top: 50px;
}
.article-h1 {
    font-size: 20px;
    margin: 15px;
}
.article-content {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 20px 30px;
}
.cell .reply {
    display: inline-block;
    margin-left: 30px;
    border-bottom: none;
}
.textarea {
    -moz-box-shadow:1px 1px 0 #E7E7E7;
    -moz-box-sizing:border-box;
    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
    font-family:arial,sans-serif;
    font-size:13px;
    height:160px;
    margin:10px auto;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding: 10px;
    width: 93%;
}
.button {
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.button-royal {
    background-color: #7B72E9;
    border-color: #7B72E9;
    color: #FFF;
}
.button-pill {
    line-height: 25px;
    height: 25px;
    display: inline-block;
    padding: 0 10px;
    background-color: #f9f9f9;
    border: 1px solid rgba(60,60,70,0.3);
    font-size: 12px;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
.button-login {
    color: #4d5256;
}
.button-login:hover {
    color: #4d5256;
    text-decoration: underline;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.right-not-login {
    margin: 25px auto;
}
/*底部样式*/
.footer {
    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #fff;
    text-align: center;
    color: #999;
    padding: 0px 10px 0px 10px;
}
.footer .content {
    background-color: #fff;
    background-image: none;
}

/*右侧样式*/
.web-status{
    padding: 0 10px 10px 20px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    border-top: 1px solid #e2e2e2;
    background-color: #fff;
}
.status-wrapper {
    display: inline-block;
    width: 79px;
    font-size: 12px;
    border-right: 1px solid rgba(100, 100, 100, 0.4);
}
.status-wrapper:last-child {
    border-right: none;
}
.status-tip {
    display: block;
    margin: 10px auto;
}
.right-islogin {
    margin:20px 0;
}

/*设置页面样式*/
.setting-header {
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: auto;
}
.setting-form {
    text-align: left;
    height: 200px;
}
.setting-left {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.setting-right {
    display: inline-block;
    height: 40px;
    line-height: 40px;

}
.sl {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 310px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    box-sizing: border-box;
}





/* Form Style */
.form_wrapper{
    background:#fff;
    border:1px solid #ddd;
    margin:0 auto;
    width:350px;
    font-size:16px;
    -moz-box-shadow:1px 1px 7px #ccc;
    -webkit-box-shadow:1px 1px 7px #ccc;
    box-shadow:1px 1px 7px #ccc;
}
.form_wrapper h3{
    padding:20px 30px 20px 30px;
    background-color:#444;
    color:#fff;
    font-size:25px;
    border-bottom:1px solid #ddd;
}
.form_wrapper form{
    display:none;
    background:#fff;
}
.form_wrapper .column{
    width:47%;
    float:left;
}
form.active{
    display:block;
}
form.login{
    width:350px;
}
form.register{
    width:550px;
}
form.forgot_password{
    width:300px;
}
.form_wrapper a{
    text-decoration:none;
    color:#777;
    font-size:12px;
}
.form_wrapper a:hover{
    color:#000;
}
.form_wrapper label{
    display:block;
    padding:10px 30px 0px 30px;
    margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    margin: 5px 30px 0px 30px;
    padding: 9px;
    display:block;
    font-size:16px;
    width:76%;
    background: 
        -webkit-gradient(
            linear,
            left top,
            left 25,
            from(#FFFFFF),
            color-stop(4%, #EEEEEE),
            to(#FFFFFF)
        );
    background: 
        -moz-linear-gradient(
            top,
            #FFFFFF,
            #EEEEEE 1px,
            #FFFFFF 25px
            );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
    background:#feffef;
}
.form_wrapper .bottom{
    background-color:#444;
    border-top:1px solid #ddd;
    margin-top:20px;
    clear:both;
    color:#fff;
    text-shadow:1px 1px 1px #000;
}
.form_wrapper .bottom a{
    display:block;
    clear:both;
    padding:10px 30px;
    text-align:right;
    color:#ffa800;
    text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
    float:right;
    font-style:italic;
    line-height:24px;
    color:#ffa800;
    text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
    color:#000;
}
.form_wrapper div.remember{
    float:left;
    width:140px;
    margin:20px 0px 20px 30px;
    font-size:11px;
}
.form_wrapper div.remember input{
    float:left;
    margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
    visibility:hidden;
    color:red;
    font-size:11px;
    font-style:italic;
    display:block;
    margin:4px 30px;
}
.form_wrapper input[type="submit"] {
    background: #e3e3e3;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor:pointer;
    float:right;
    margin:15px 20px 10px 10px;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 2px #fff inset;
    -webkit-box-shadow: 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
    background: #d9d9d9;
    -moz-box-shadow: 0px 0px 2px #eaeaea inset;
    -webkit-box-shadow: 0px 0px 2px #eaeaea inset;
    box-shadow: 0px 0px 2px #eaeaea inset;
    color: #222;
}