/*公共样式*/
.wrapper {
    width: 1100px;
    margin: 0px auto 0px auto;
}
 /*头部样式*/
.header {
    text-align: center;
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    padding: 0px 20px;
}
.header-logo {
	float: left;
	font-size: 30px;
    font-weight: bold;
    padding-left: 100px;
    height: 44px;
    width: 250px;
    line-height: 44px;
}
.header-nav {
	float: right;
	padding-right: 100px;
	font-size: 16px;
    font-weight: 400;
    height: 44px;
    width: 300px;
    line-height: 44px;
}
.header-nav >span {
	margin: 0 10px;
}


/*内容样式*/
.content {
    text-align: center;
    background-color: #e2e2e2;
    background-image: url(../images/shadow_light.png);
    background-repeat: repeat-x;
}
.content-main {
    margin-top: 20px;
	float: left;
	width: 770px;
	min-height: 200px;
	background-color: #fff;
}
.content-right {
	margin-top: 20px;
	float: right;
	width: 270px;
	height: 254px;
	background-color: #fff;
}