/*公共样式*/
.wrapper {
	min-width: 600px;
    max-width: 1100px;
    margin: 0px auto 0px auto;
}
 /*头部样式*/
.header {
    text-align: center;
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    padding: 0px 20px;
}